$ cat .gitignore

.DS_Store
openframeworks/apps/myApps/hhbKinect/build/
openframeworks/apps/myApps/hhbKinect/bin/hhbKinect.app/
openframeworks/libs/openFrameworksCompiled/lib/osx/openFrameworks.a
openframeworks/libs/openFrameworksCompiled/project/osx/build/openFrameworksLib.build/Release/
